<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Index List Search App</title>
    <link rel="stylesheet" href="{% static "ListSearchApp/css/style.css" %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="{% static "ListSearchApp/css/style.css" %}">

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Code List</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 style="text-align: center">What do you want to search in Code List?</h1>
    <div class="row">

        {#        #}
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                <p>Fast web scrapper</p>
                <p class="light center">Scrape away right with a beautiful GUI</p>
            </div>
        </div>

        {#        #}
        <div class="col s4">
            <div class="center">
                <i class="large material-icons">chrome_reader_mode</i>
                <p>A much sexier front-end to Website</p>
                <p class="light center">We built with this</p>
            </div>
        </div>
        {#        #}

    </div>

    {#  Form Search  #}


    <form action="{% url 'new search' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" id="search" placeholder="Search">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>

    {% block content %}

    {% endblock content %}
</div>

</body>
</html>
